@model IEnumerable<MvcJokes.Models.Joke>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Jokes" asp-action="Index" method="get">
    <p>
        Key Word: <input type="text" name="searchString"/>
        <input type="submit" value="Filter"/>
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JokeQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JokeAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JokeRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <i>@item.Id</i>
            </td>
            <td>
                <i>@Html.DisplayFor(modelItem => item.JokeQuestion)</i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JokeAnswer)
            </td>
            @if(item.JokeRating == "cheesy") {
                <td style="color:orange">
                    @Html.DisplayFor(modelItem => item.JokeRating)
                </td>               
            } else {
                <td>
                    @Html.DisplayFor(modelItem => item.JokeRating)
                </td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
